* {
    font-family: 'Amatic SC', sans-serif;
    color: white;
}

body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    display: block;
    font-size: 4em;
    color: rgb(26, 0, 121);
}

h2 {
    font-size: 2em;
    margin: 50px;
    display: block;
}

label {
    color: white;
}

input[type="text"] {
    border-radius: 10px 10px 10px 10px;
    -webkit-text-fill-color: white;
    background-color: deepskyblue;
    border: none;
    width: 30vw;
    height: 3vw;
    margin: 1vw;
    font-size: 2em;
    padding: 3px;
}

input[type="text"]:focus {
    -webkit-text-fill-color: rgb(255, 96, 184);
    background-color: rgb(226, 244, 250);
}

button {
    color: white;
    font-size: 2em;
    margin: 1vw;
    border-radius: 10px 10px 10px 10px;
    border: none;
    background-color: dodgerblue;
}

.card {
    background-color: rgb(26, 0, 121);
    border-radius: 10px 10px 10px 10px;
    margin: 1em;
}

.card:active {
    border: 3px solid white;
    background-color: rgb(26, 0, 121);
    margin: 1em;
}

p {
    margin: 2em;
}

.section {
    border-radius: 30px;
    margin: 1em;
    padding: 2em;
    background-color: rgb(26, 0, 121);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid>* {
    flex: 0 0 33.3333%;
}

.question {
    display: block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

ul {
    list-style-type: none;
}

.hidden {
    display: none;
    position: relative;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    left: 25%;
    right: 25%;
    border-radius: 30px;
    background-color: rgb(26, 0, 121);
}